body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* alla children till body */

.hero {
  background-image: url("https://s3-alpha-sig.figma.com/img/bb47/e2c3/a3fae2ef0c636e73f74801f44296aa74?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HnVP8CTOJQa8eKXub7H7x6ZNahSzJpjVqWjkA4-5hknQB4EYzKEYc4mBp0EIJ38C90bZ-KHDUZV84wkVY45dDXvoJtOvo6DzPH~NvqKj7fUf8Zlpz1FDsL7n8es5~61JO533cbEi1Ogl~2jIZEy0UEMHCPKkZPbPBpDbFva0qlD2JRTcg1u0PqQlrnNZDw-W8lt4Gerhu22P~b9gclEjTvSm8IJgNsAKVmNid97elnAvtzohte9o8NE7MJC2TP-Xlbf8P85sAjPfVKu~XO7vvagSI7oFmi~os4wMtbeLe3xgA0AeG~oIjsyLD--LgxZ0kAn5PucDaj2ISlWLvnKJhA__");
  height: 385px;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

/* alla children till hero */

h1 {
  width: 380px;
  top: 105px;
  left: 67px;
  color: #ffd600;
  position: absolute;
  font-family: Ropa SANS-SERIF;
  font-size: xxx-large;
  font-weight: 400;
}

.informationSection {
  width: 100vw;
  height: 720px;
  background-color: #424242;
  display: flex;
  justify-content: space-evenly;
}

.charactersContainer {
  width: 484px;
  height: 624px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: -45px;
}

.charactersContainer h2 {
  font-family: Ropa Sans;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: center;
  background-color: #535556;
  padding: 30px;
  margin: 0;
  color: #ffd600;
  border-radius: 4px 4px 0px 0px;
}

.detailsContainer {
  width: 484px;
  height: 624px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: -45px;
}

.detailsContainer h2 {
  font-family: Ropa Sans;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: center;
  background-color: #738289;
  padding: 30px;
  margin: 0;
  color: #ffd600;
  border-radius: 4px 4px 0px 0px;
}

.detailsBoxFirst {
  background-color: lightgray;
}

.detailsInfoBox {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.btnBox {
  display: flex;
  justify-content: space-evenly;
}

.btnBox button {
  color: #8c7600;
  padding: 10px 30px;
  border-radius: 5px 5px 0px 0px;
  border: none;
}

.detailsBoxSecond {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  height: 287px;
  border-radius: 0px 0px 5px 5px;
}

.detailsBoxSecond h3 {
  padding: 0px 15px;
  color: white;
  margin-bottom: 0px;
}

.detailsBoxSecond p {
  padding: 0px 15px;
  color: white;
}

/* alla children till informationSection */
